body{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    justify-content:space-evenly;
    margin-left: 40px;
    margin-right: 40px;
}

.boxes{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 30px;

}

#red{
    background-color: red;
}

#purple{
    background-color: purple;
}

#blue{
 background-color: blue;
}

#grey{
    background-color: grey;
}